{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Sell Property" %}{% endblock %}

{% block inner %}

  {% block content %}

  <div class="container-fluid" style="margin-top:100px">
    <div class="row p-5">
      <div class="col-md-6 offset-md-3">
        <h1>{% translate "Post a property" %}</h1>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}
          <button class="primaryAction btn btn-primary" type="submit">{% translate "Post Now" %}</button>
        </form>
      </div>
    </div>
  </div>
  {% endblock content%}

{% endblock %}
