{% extends "base.html" %}
{% load static i18n %}

{% block content %}
<div class="container" style="margin-top:100px">
  <div class="row">
    <div class="section">
      <div class="container">
        <div class="row justify-content-between">


          {% if apartment %}
          <div class="col-lg-7">
            <div class="img-property-slide-wrap">
              <div class="img-property-slide">
                {% for apartment_image in apartment.apartment_images.all %}
                  <img src="{{ apartment_image.image.url }}" alt="Images of {{ apartment }}" class="img-fluid" width="300" height="300"/>
                  {% empty %}
                    <h3 class="text-center">No Images Found</h3>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-block agent-box p-5">
              <h2 class="heading text-primary">{{ apartment.ad_title|title }}</h2>
              <h5 class="meta"><i class="fa-solid fa-building me-2"></i>{% translate "Apartment" %}</h5>
              <h5 class="meta mt-2"><i class="fa-solid fa-location-dot me-2"></i>{{ apartment.city|upper }}</h5>
              <h5 class="text-black-50">{{ apartment.description|capfirst }}</h5><hr>
              <h5 class="text-black-50">Bedroom: {{ apartment.bedroom }}</h5>
              <h5 class="text-black-50">Bathroom: {{ apartment.bathroom }}</h5>
              <h5 class="text-black-50">Area: {{ apartment.area }} Sqft</h5>
              <h5 class="text-black-50">Floor: {{ apartment.floor }}</h5><hr>
              <div class="text">
                <h2 class="mb-0">{{ apartment.user|capfirst }}</h2>
                <h3 class="meta mb-4">{{ apartment.user.username }}</h3>
                <h3 class="meta mb-3"><b>{% translate "Address:" %}</b><br>{{ apartment.address|capfirst }}</h3>
                {% if apartment.google_map %}
                  <h3 class="meta mb-3"><b>{% translate "Location:" %}</b><br> {{ apartment.google_map|urlize }}</h3>
                {% endif %}
                <h3 class="meta"><b>{% translate "Contact Information:" %}</b><br>
                  {% if apartment.contact_info %}
                    {{ apartment.contact_info }}
                  {% else %}
                    {{ apartment.user.phone }} <br> {{ apartment.user.email|urlize }}
                  {% endif %}
                </h3>
              </div>
              {% if apartment.user == request.user %}
              <hr>
              <form method="POST">
                {% csrf_token %}
                <div class="col-sm-12 d-grid gap-3">
                  <a class="btn btn-primary" href="{% url 'core:apartment_update' apartment.slug %}" role="button">{% translate "Update" %}</a>
                  {% if apartment.sale_status != "For Sale" %}
                  <a class="btn btn-dark disabled" role="button">{% translate "Sold" %}</a>
                  {% else %}
                  <button class="btn btn-warning" role="button" name="sold" onclick="return confirm('Are you sure you want to mark as sold?')" type="submit">{% translate "Mark as Sold" %}</button>
                  {% endif %}
                  <button class="btn btn-danger" role="button" name="delete" onclick="return confirm('Are you sure you want to delete?')" type="submit">{% translate "Delete" %}</button>
                </div>
              </form>
              {% endif %}
            </div>
          </div>
          {% endif %}

          {% if commercial %}
          <div class="col-lg-7">
            <div class="img-property-slide-wrap">
              <div class="img-property-slide">
                {% for commercial_image in commercial.commercial_images.all %}
                  <img src="{{ commercial_image.image.url }}" alt="Images of {{ commercial }}" class="img-fluid" width="300" height="300"/>
                  {% empty %}
                    <h3 class="text-center">No Images Found</h3>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-block agent-box p-5">
              <h2 class="heading text-primary">{{ commercial.ad_title|title }}</h2>
              <h5 class="meta"><i class="fa-solid fa-city me-2"></i>{% translate "Commercial" %}</h5>
              <h5 class="meta mt-2"><i class="fa-solid fa-location-dot me-2"></i>{{ commercial.city|upper }}</h5>
              <h5 class="text-black-50">{{ commercial.description|capfirst }}</h5><hr>
              <h5 class="text-black-50">Type: {{ commercial.commercial_type }}</h5>
              <h5 class="text-black-50">Area: {{ commercial.area }} Sqft</h5>
              <h5 class="text-black-50">Floor: {{ commercial.floor }}</h5><hr>
              <div class="text">
                <h2 class="mb-0">{{ commercial.user|capfirst }}</h2>
                <h3 class="meta mb-4">{{ commecial.user.username }}</h3>
                <h3 class="meta mb-3"><b>{% translate "Address:" %}</b><br>{{ commercial.address|capfirst }}</h3>
                {% if commercial.google_map %}
                  <h3 class="meta mb-3"><b>{% translate "Location:" %}</b><br> {{ commercial.google_map|urlize }}</h3>
                {% endif %}
                <h3 class="meta"><b>{% translate "Contact Information:" %}</b><br>
                  {% if commercial.contact_info %}
                    {{ commercial.contact_info }}
                  {% else %}
                    {{ commercial.user.phone }} <br> {{ commercial.user.email|urlize }}
                  {% endif %}
                </h3>
              </div>
              {% if commercial.user == request.user %}
              <hr>
              <form method="POST">
                {% csrf_token %}
                <div class="col-sm-12 d-grid gap-3">
                  <a class="btn btn-primary" href="{% url 'core:commercial_update' commercial.slug %}" role="button">{% translate "Update" %}</a>
                  {% if commercial.sale_status != "For Sale" %}
                  <a class="btn btn-dark disabled" role="button">{% translate "Sold" %}</a>
                  {% else %}
                  <button class="btn btn-warning" role="button" name="sold" onclick="return confirm('Are you sure you want to mark as sold?')" type="submit">{% translate "Mark as Sold" %}</button>
                  {% endif %}
                  <button class="btn btn-danger" role="button" name="delete" onclick="return confirm('Are you sure you want to delete?')" type="submit">{% translate "Delete" %}</button>
                </div>
              </form>
              {% endif %}
            </div>
          </div>
          {% endif %}

          {% if house %}
          <div class="col-lg-7">
            <div class="img-property-slide-wrap">
              <div class="img-property-slide">
                {% for house_image in house.house_images.all %}
                  <img src="{{ house_image.image.url }}" alt="Images of {{ house }}" class="img-fluid" width="300" height="300"/>
                  {% empty %}
                    <h3 class="text-center">No Images Found</h3>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-block agent-box p-5">
              <h2 class="heading text-primary">{{ house.ad_title|title }}</h2>
              <h5 class="meta"><i class="fa-solid fa-house me-2"></i>{% translate "House" %}</h5>
              <h5 class="meta mt-2"><i class="fa-solid fa-location-dot me-2"></i>{{ house.city|upper }}</h5>
              <h5 class="text-black-50">{{ house.description|capfirst }}</h5><hr>
              <h5 class="text-black-50">Bedroom: {{ house.bedroom }}</h5>
              <h5 class="text-black-50">Bathroom: {{ house.bathroom }}</h5>
              <h5 class="text-black-50">Area: {{ house.area }} Sqft</h5>
              <h5 class="text-black-50">Floor: {{ house.floor }}</h5><hr>
              <div class="text">
                <h2 class="mb-0">{{ house.user|capfirst }}</h2>
                <h3 class="meta mb-4">{{ house.user.username }}</h3>
                <h3 class="meta mb-3"><b>{% translate "Address:" %}</b><br>{{ house.address|capfirst }}</h3>
                {% if house.google_map %}
                  <h3 class="meta mb-3"><b>{% translate "Location:" %}</b><br> {{ house.google_map|urlize }}</h3>
                {% endif %}
                <h3 class="meta"><b>{% translate "Contact Information:" %}</b><br>
                  {% if house.contact_info %}
                    {{ house.contact_info }}
                  {% else %}
                    {{ house.user.phone }} <br> {{ house.user.email|urlize }}
                  {% endif %}
                </h3>
              </div>
              {% if house.user == request.user %}
              <hr>
              <form method="POST">
                {% csrf_token %}
                <div class="col-sm-12 d-grid gap-3">
                  <a class="btn btn-primary" href="{% url 'core:house_update' house.slug %}" role="button">{% translate "Update" %}</a>
                  {% if house.sale_status != "For Sale" %}
                  <a class="btn btn-dark disabled" role="button">{% translate "Sold" %}</a>
                  {% else %}
                  <button class="btn btn-warning" role="button" name="sold" onclick="return confirm('Are you sure you want to mark as sold?')" type="submit">{% translate "Mark as Sold" %}</button>
                  {% endif %}
                  <button class="btn btn-danger" role="button" name="delete" onclick="return confirm('Are you sure you want to delete?')" type="submit">{% translate "Delete" %}</button>
                </div>
              </form>
              {% endif %}
            </div>
          </div>
          {% endif %}

          {% if land %}
          <div class="col-lg-7">
            <div class="img-property-slide-wrap">
              <div class="img-property-slide">
                {% for land_image in land.land_images.all %}
                  <img src="{{ land_image.image.url }}" alt="Images of {{ land }}" class="img-fluid" width="300" height="300"/>
                  {% empty %}
                    <h3 class="text-center">No Images Found</h3>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-block agent-box p-5">
              <h2 class="heading text-primary">{{ land.ad_title|title }}</h2>
              <h5 class="meta"><i class="fa-solid fa-earth me-2"></i>{% translate "Land" %}</h5>
              <h5 class="meta mt-2"><i class="fa-solid fa-location-dot me-2"></i>{{ land.city|upper }}</h5>
              <h5 class="text-black-50">{{ land.description|capfirst }}</h5><hr>
              <h5 class="text-black-50">Type: {{ land.land_type }}</h5>
              <h5 class="text-black-50">Plot area: {{ land.plot_area }} Cent</h5>
              <h5 class="text-black-50">Length: {{ land.length }}</h5>
              <h5 class="text-black-50">Breadth: {{ land.breadth }}</h5>
              <h5 class="text-black-50">Road accessible: {{ land.road_accessible }}</h5><hr>
              <div class="text">
                <h2 class="mb-0">{{ land.user|capfirst }}</h2>
                <h3 class="meta mb-4">{{ land.user.username }}</h3>
                <h3 class="meta mb-3"><b>{% translate "Address:" %}</b><br>{{ land.address|capfirst }}</h3>
                {% if land.google_map %}
                  <h3 class="meta mb-3"><b>{% translate "Location:" %}</b><br> {{ land.google_map|urlize }}</h3>
                {% endif %}
                <h3 class="meta"><b>{% translate "Contact Information:" %}</b><br>
                  {% if land.contact_info %}
                    {{ land.contact_info }}
                  {% else %}
                    {{ land.user.phone }} <br> {{ land.user.email|urlize }}
                  {% endif %}
                </h3>
              </div>
              {% if land.user == request.user %}
              <hr>
              <form method="POST">
                {% csrf_token %}
                <div class="col-sm-12 d-grid gap-3">
                  <a class="btn btn-primary" href="{% url 'core:land_update' land.slug %}" role="button">{% translate "Update" %}</a>
                  {% if land.sale_status != "For Sale" %}
                  <a class="btn btn-dark disabled" role="button">{% translate "Sold" %}</a>
                  {% else %}
                  <button class="btn btn-warning" role="button" name="sold" onclick="return confirm('Are you sure you want to mark as sold?')" type="submit">{% translate "Mark as Sold" %}</button>
                  {% endif %}
                  <button class="btn btn-danger" role="button" name="delete" onclick="return confirm('Are you sure you want to delete?')" type="submit">{% translate "Delete" %}</button>
                </div>
              </form>
              {% endif %}
            </div>
          </div>
          {% endif %}

          {% if villa %}
          <div class="col-lg-7">
            <div class="img-property-slide-wrap">
              <div class="img-property-slide">
                {% for villa_image in villa.villa_images.all %}
                  <img src="{{ villa_image.image.url }}" alt="Images of {{ villa }}" class="img-fluid" width="300" height="300"/>
                  {% empty %}
                    <h3 class="text-center">No Images Found</h3>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-block agent-box p-5">
              <h2 class="heading text-primary">{{ villa.ad_title|title }}</h2>
              <h5 class="meta"><i class="fa-solid fa-house-chimney-window me-2"></i>{% translate "Villa" %}</h5>
              <h5 class="meta mt-2"><i class="fa-solid fa-location-dot me-2"></i>{{ villa.city|upper }}</h5>
              <h5 class="text-black-50">{{ villa.description|capfirst }}</h5><hr>
              <h5 class="text-black-50">Bedroom: {{ villa.bedroom }}</h5>
              <h5 class="text-black-50">Bathroom: {{ villa.bathroom }}</h5>
              <h5 class="text-black-50">Area: {{ villa.area }} Sqft</h5>
              <h5 class="text-black-50">Floor: {{ villa.floor }}</h5><hr>
              <div class="text">
                <h2 class="mb-0">{{ villa.user|capfirst }}</h2>
                <h3 class="meta mb-4">{{ villa.user.username }}</h3>
                <h3 class="meta mb-3"><b>{% translate "Address:" %}</b><br>{{ villa.address|capfirst }}</h3>
                {% if villa.google_map %}
                  <h3 class="meta mb-3"><b>{% translate "Location:" %}</b><br> {{ villa.google_map|urlize }}</h3>
                {% endif %}
                <h3 class="meta"><b>{% translate "Contact Information:" %}</b><br>
                  {% if villa.contact_info %}
                    {{ villa.contact_info }}
                  {% else %}
                    {{ villa.user.phone }} <br> {{ villa.user.email|urlize }}
                  {% endif %}
                </h3>
              </div>
              {% if villa.user == request.user %}
              <hr>
              <form method="POST">
                <div class="col-sm-12 d-grid gap-3">
                  <a class="btn btn-primary" href="{% url 'core:villa_update' villa.slug %}" role="button">{% translate "Update" %}</a>
                  {% if villa.sale_status != "For Sale" %}
                  <a class="btn btn-dark disabled" role="button">{% translate "Sold" %}</a>
                  {% else %}
                  <button class="btn btn-warning" role="button" name="sold" onclick="return confirm('Are you sure you want to mark as sold?')" type="submit">{% translate "Mark as Sold" %}</button>
                  {% endif %}
                  <button class="btn btn-danger" role="button" name="delete" onclick="return confirm('Are you sure you want to delete?')" type="submit">{% translate "Delete" %}</button>
                </div>
              </form>
              {% endif %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
