$primary: #1c1f50;
$secondary: #8B85C1;
$font-family-sans-serif: 'Work Sans', sans-serif;
$font-family-sans-serif-secondary: 'Work Sans', sans-serif;

@import 'bootstrap/mixins';
@import 'bootstrap/functions';
@import 'bootstrap/variables';

@import 'bootstrap/bootstrap';

@import 'components/site-navbar';
@import 'components/site-base';
@import 'components/site-blocks';
@import 'components/site-footer';
